.add-form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  margin-bottom: 1em;
}

label {
  display: block;
}

.add-result {
  display: inline-block;
  margin-left: 1em;
}

.success {
  color: lightgreen;
}

.failure {
  color: crimson;
}
