.App-header {
  color: #122D33;
  background: #B2E0EA;
  background-image: linear-gradient(to bottom, #B2E0EA 94%, #122D33);
  padding: 10px 0;
}

.nav li {
  list-style: none;
}

.nav li a {
  cursor: pointer;
  box-sizing: border-box;
  transition: color 0.2s;

  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

@media (max-width: 599px) {
  .App-header {
    padding: 0;
    margin: 0;
    background-image: none;
    text-align: center;
  }

  .App-header h1 {
    margin-top: 0;
    padding-top: 10px;
  }

  .nav {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr 1fr;

    padding: 0;

    position: relative;
    bottom: 0px;
  }

  .nav li {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nav li.active {
    background: #122D33;
    color: #FCFFF5;
  }
}

@media (min-width: 600px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: large;
  }

  .nav li {
    display: inline-block;

    padding-left: 2em;

    text-align: center;
  }

/* Nav link effect used here is from https://github.com/codrops/CreativeLinkEffects
 * You should check them out, cool ideas! */
  .nav li.active a {
    border-top: 2px solid #2D6F7F;
    border-bottom: 2px solid #2D6F7F;
  }

  .nav li a:hover, .nav li a:focus {
    color: #2D6F7F;
  }

  .nav li a::before, .nav li a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2D6F7F;
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.4s;
    transform: translateY(-10px);
  }

  .nav li a::before {
    top: 0;
    transform: translateY(-10px);
  }

  .nav li a::after {
    bottom: 0;
    transform: translateY(10px);
  }

  .nav li a:hover::before, 
  .nav li a:focus::before, 
  .nav li a:hover::after, 
  .nav li a:focus::after {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main {
  padding-left: 7px;
  padding-right: 7px;
}

.container {
  max-width: 800px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
