.ControlInfoBar {
  display: flex;
  justify-content: space-between; 
}

.ControlInfoBar div {
  display: flex;
}

.sort-info, .filter-info, .result-count {
  margin-top: 15px;

  display: flex;
  align-items: center;
}

.sort-info, .filter-info {
  margin-right: 20px;
}

.result-count {
  margin-left: 20px;
}
