.ControlPanel {
  background: #122D33;
  color: #FCFFF5;

  padding: 0 15px 15px 15px;
}

/* Not sure why, but at low res, there's 16 px of space
 * between header and control panel. Let's erase that.*/
@media(max-width: 599px) {
  .ControlPanel {
    position: relative;
    top: -17px;
  }
}

.ControlPanel h3 {
}

.ControlPanel.wishlist {
  background: #2D3233;
}

.control-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.control-item {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
