.system-filter-grid {
  text-align: center;
}

.system-filter-grid button {
  font-size: 15px;
  padding: 8px;
  margin: 6px;
  border-radius: 8px;
}

.clear-button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 40%; 
}
