.GameInfo {
  font-family: 'Crimson Text', serif;
  font-size: 14pt;

  padding-left: 15px;
  padding-right: 15px;

  border-left: 1px solid #2D6F7F;
  border-right: 1px solid #2D6F7F;
}

.wishlist .GameInfo {
  border-left: 1px solid #727C7F;
  border-right: 1px solid #727C7F;
}

.delete-button, .edit-button, .move-to-collection-button {
  float: right;
  margin-left: 10px;
}
