.Game {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Game h3 {
  margin: 0;
}

.game-title-bar {
  background: #2D6F7F;
  background-image: linear-gradient(to top, #327B8C 60%, #3D8999 100%);
  color: #FCFFF5;

  border-radius: 5px;
  padding: 5px 15px;

  display: grid;
  grid-template-columns: 8% 70% 22%;
}
.game-title-bar.active {
  box-shadow: 0 2px 2px 0 #122D33;
}
.game-title-bar:hover {
  background: #378799;
  background-image: linear-gradient(to top, #327B8C, #3D8999 100%);
  box-shadow: 0 2px 2px 1px #122D33;
}

.wishlist .game-title-bar {
  background: #7F7F7F;
  background-image: linear-gradient(to top, #727C7F 60%, #899699 100%);
}
.wishlist .game-title-bar:hover {
  background: #899699;
  background-image: linear-gradient(to top, #727C7F, #899699 100%);
}

.game-title, .game-system {
  display: inline;
}

.game-system {
  padding-right: 10px;
  color: #122D33;

  text-shadow: 0 0 2.5px #B2E0EA;
}

.wishlist .game-system {
  text-shadow: 0 0 2.5px #FFFFFF;
}
