html {
  overflow-y: scroll;
}

body {
  font-family: 'Raleway', sans-serif;

  margin: 0;
  padding: 0;

  background: #E2F6FB;
  color: #122D33;
}

button, input[type=submit] {
  padding: 5px;
  /*background: #FFAB58;*/
  background: #B2E0EA;

  border-radius: 8px;

  /*RGB 45 111 127 = 2D6F7F from before.*/
  border-top: 1px solid rgba(45, 111, 127, 0.5); 
  border-left: 1px solid rgba(45, 111, 127, 0.5);
  border-right: 1px solid rgba(45, 111, 127, 0.5);
  border-bottom: 1px solid rgba(45, 111, 127, 0.5);

  transition: border 0.6s, border-radius 0.2s, background 0.3s;
}

button:hover, input[type=submit]:hover {
  /*background: #F28B24;*/
  background: #FFAB58;

  border-top: 1px solid rgba(45, 111, 127, 0.8);
  border-left: 1px solid rgba(45, 111, 127, 0.8);
  border-right: 1px solid rgba(45, 111, 127, 0.8);
  border-bottom: 1px solid rgba(45, 111, 127, 0.8);
}

button.active, input[type=submit].active {
  background: #FF9F3F;
}

input[type=text], textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

.clearfix {
  clear: both;
}

/* Palette:
LighterBlue: #E2F6FB
Light Blue : #B2E0EA
Normal blue: #2D6F7F
Dark blue/off-black: 122D33

Off-white: #FCFFF5

Complement: 
Light orange: #FFCC9A
Orange: #FFAB58
Dark orange: #F28B24
*/

