.sort-form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-gap: 20px;*/
}

.sort-form-grid .radio-option:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sort-form-grid .radio-option:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.radio-option {
  text-align: center;
  border-radius: 0;
}
