.Stats {
  margin-bottom: 18px;
}

.stat-table-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;

  margin-top: 15px;
}

.table-title {
  font-size: 1.6em;
  text-align: center;

  padding: 10px 0;
  margin-bottom: 0;
}

table {
  width: 100%;  
  border: 1px solid #122D33;
  border-radius: 2px;
  border-spacing: 1px;
}

th {
  background: #2D6F7F;
  color: #FCFFF5;
}

tfoot {
  font-weight: bold;
}

td, th {
  width: 50%;
  padding: 5px 15px;
}

table tr:nth-child(odd) {
  background: #B2E0EA;
}

table tr:nth-child(even) {
  background: #CBEBF2;
}
